# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # using major version aliases

  # aliased to 5.3.10
  - 5.3
  # aliased to 5.4.0
  - 5.4

before_script:
  - git clone --quiet git://github.com/aporat/Zend-1.11.git Zend
  - phpenv rehash
  
script: phpunit --configuration ./tests/phpunit.xml
  

notifications:
  email: adar.porat@gmail.com
